h1, h2 {
  text-transform: uppercase;
  color: color(accentLight);
  font-family: 'Libre Baskerville', cursive;
  line-height: 2em;
  text-shadow: 0px 2px 2px rgba(189, 189, 189, 0.5);
}

.header__button {
  width: 140px;
  height: 50px;
  color: color(primary);
  background: color(accentLight);
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
}

.header__button:hover {
  border: 0.5px solid color(accentLight) !important;
  background: transparent;
  -webkit-box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
          box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button:hover, .about__button {
  width: 140px;
  height: 50px;
  color: color(accentLight);
  background: color(primary);
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
}

h1, h2 {
  text-transform: uppercase;
  color: #ebd0ce;
  font-family: 'Libre Baskerville', cursive;
  line-height: 2em;
  text-shadow: 0px 2px 2px rgba(189, 189, 189, 0.5);
}

.header__button {
  width: 140px;
  height: 50px;
  color: #383737;
  background: #ebd0ce;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
}

.header__button:hover {
  border: 0.5px solid #ebd0ce !important;
  background: transparent;
  -webkit-box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
          box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button:hover, .about__button {
  width: 140px;
  height: 50px;
  color: #ebd0ce;
  background: #383737;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  color: #949494;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

image {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#383737), to(#3d3d3d));
  background: linear-gradient(to bottom, #383737, #3d3d3d);
  z-index: -3;
  height: 700px;
}

header .header--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .header--wrap .header__block--top {
  height: 90px;
  margin: 30px 0;
  border-bottom: 0.5px solid #cfa4a2a9;
  width: 100%;
}

header .header--wrap .header__block--top .header__top--wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--left {
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--left .social--area {
  margin: 10px 0;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--left .social--area .list__item {
  list-style: none;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--left .social--area .list__item a {
  text-decoration: none;
  color: #ebd0ce;
  margin: 10px;
  padding: 10px;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--left .social--area .list__item a:hover {
  border: 2px solid;
  -webkit-box-shadow: rgba(255, 255, 255, 0.05);
          box-shadow: rgba(255, 255, 255, 0.05);
}

header .header--wrap .header__block--top .header__top--wrap .header__top--middle {
  width: 30%;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--middle .logo--area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--middle .logo--area img {
  height: 70px;
  width: 70px;
  overflow: hidden;
  margin: 0 auto;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--right {
  width: 5%;
  margin: 0 auto;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--right .header__menu {
  margin: 0 auto;
  text-align: center;
}

header .header--wrap .header__block--top .header__top--wrap .header__top--right .header__menu i {
  color: #ebd0ce;
  font-size: 30px;
  padding: 10px;
}

header .header--wrap .header__block--bottom {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  height: 450px;
}

@media only screen and (max-width: 960px) {
  header .header--wrap .header__block--bottom {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

header .header--wrap .header__block--bottom .header__bottom--left .bg {
  background: transparent;
  cursor: pointer;
  overflow: hidden;
  top: 220px;
  left: 130px;
  width: 400px;
  height: 400px;
  position: absolute;
  background-image: url(../../images/main_bg2.jpg);
  background-position: center;
  background-size: auto;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.05);
          box-shadow: 0px 20px 50px rgba(255, 255, 255, 0.05);
}

header .header--wrap .header__block--bottom .header__bottom--left .bg .border--top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 8px;
  background: -webkit-gradient(linear, left top, right top, from(#e9cbc9), to(#be8784));
  background: linear-gradient(to right, #e9cbc9, #be8784);
  -webkit-animation: top 1.2s linear infinite;
          animation: top 1.2s linear infinite;
}

@-webkit-keyframes top {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

@keyframes top {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}

header .header--wrap .header__block--bottom .header__bottom--left .bg .border--right {
  position: absolute;
  top: 0;
  right: 0;
  width: 8px;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#e9cbc9), to(#be8784));
  background: linear-gradient(to bottom, #e9cbc9, #be8784);
  -webkit-animation: right 1.2s linear infinite;
          animation: right 1.2s linear infinite;
}

@-webkit-keyframes right {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

@keyframes right {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
}

header .header--wrap .header__block--bottom .header__bottom--left .bg .border--bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 8px;
  background: -webkit-gradient(linear, right top, left top, from(#e9cbc9), to(#be8784));
  background: linear-gradient(to left, #e9cbc9, #be8784);
  -webkit-animation: bottom 1.2s linear infinite;
          animation: bottom 1.2s linear infinite;
}

@-webkit-keyframes bottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes bottom {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

header .header--wrap .header__block--bottom .header__bottom--left .bg .border--left {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 8px;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(#e9cbc9), to(#be8784));
  background: linear-gradient(to top, #e9cbc9, #be8784);
  -webkit-animation: left 1.2s linear infinite;
          animation: left 1.2s linear infinite;
}

@-webkit-keyframes left {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

@keyframes left {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

header .header--wrap .header__block--bottom .header__bottom--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  place-items: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1, h2 {
  text-transform: uppercase;
  color: #ebd0ce;
  font-family: 'Libre Baskerville', cursive;
  line-height: 2em;
  text-shadow: 0px 2px 2px rgba(189, 189, 189, 0.5);
}

.header__button {
  width: 140px;
  height: 50px;
  color: #383737;
  background: #ebd0ce;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
}

.header__button:hover {
  border: 0.5px solid #ebd0ce !important;
  background: transparent;
  -webkit-box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
          box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button:hover, .about__button {
  width: 140px;
  height: 50px;
  color: #ebd0ce;
  background: #383737;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
}

h1, h2 {
  text-transform: uppercase;
  color: #ebd0ce;
  font-family: 'Libre Baskerville', cursive;
  line-height: 2em;
  text-shadow: 0px 2px 2px rgba(189, 189, 189, 0.5);
}

.header__button {
  width: 140px;
  height: 50px;
  color: #383737;
  background: #ebd0ce;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
  -webkit-transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) all 0.8s;
}

.header__button:hover {
  border: 0.5px solid #ebd0ce !important;
  background: transparent;
  -webkit-box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
          box-shadow: 0px 10px 15px rgba(248, 197, 197, 0.5);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header__button:hover, .about__button {
  width: 140px;
  height: 50px;
  color: #ebd0ce;
  background: #383737;
  border: none;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Libre Baskerville', serif;
  margin: 30px 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body, html {
  height: 100%;
  color: #949494;
  font-size: 18px;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5em;
}

.container {
  width: 80%;
  margin: 0 auto;
}

image {
  display: block;
  overflow: hidden;
  width: auto;
  height: auto;
}

button {
  cursor: pointer;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

#about {
  color: #383737;
  background: -webkit-gradient(linear, left bottom, left top, from(#dbdbdb), to(#3d3d3d));
  background: linear-gradient(to top, #dbdbdb, #3d3d3d);
}

#about .about--wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 960px) {
  #about .about--wrap {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */