
.networks__list{
    margin: 10px 0;
    .list__item{
        @include list__inline;
        font-size: 16px;
        padding: 10px;
        border: 1px solid color(primarySecond);
        background: color(primaryLight);
        border-radius: 100%;
        margin: 5px;
        &:hover{
            border: 1.5px solid color(accentLight);
            box-shadow: #ebd0ceda 0 0 15px;
        }
        a{
            text-decoration: none;
            color: color(accentLight);
            margin: 5px;
        }
    }
}
.about__list{
    margin: 40px 0;
    .list__item{
        @include list__inline;
        font-size: 18px;
        a{
            text-decoration: none;
            background: color(accentLight);
            padding: 10px;
            margin: 5px;
            border: 1px solid color(accentLight);
            border-radius: 100%;
            color: color(primary);
            &:hover{
                border:2px solid;
                box-shadow: rgba(255, 255, 255, 0.05) 5px 5px 15px;              
            }
        }
    }
}