@import "colors";
@import "mixins";
@import "placeholders";
@import "functions";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body, html{
    height: 100%;
    color:color(primaryLight);
    font-size: 18px ;
    font-family: 'Quicksand', sans-serif !important;
    line-height: 1.5em;
    font-weight: 500;
}
.container{
    width: 80%;
    margin: 0 auto;
}
image{
    display: block;
    overflow: hidden;
    width: auto;
    height: auto;
}
button{
    cursor: pointer;
}
h1{
    font-size: 72px !important;
    @extend %header ;
    color: color(accentLight);
}
h2{
    @extend %header;
    font-size: 48px !important;
    color: color(primarySecond);
    margin: 60px 0;
}
h3{
    @extend %header;
    font-size: 32px;
    color: color(primarySecond);
}
